# --- Gemini API ---
VITE_GEMINI_API_KEY=

# --- GNews API ---
VITE_GNEWS_API_KEY=your_key_here

# --- Backend Hardware (Python Only - Do not prefix with VITE) ---
# Comma-separated list of GPU IDs (e.g., 0,1 for multi-gpu)
CUDA_VISIBLE_DEVICES=0
# Explicitly use NVIDIA CUDA cores rather than cpu or mps (Mac)
TORCH_DEVICE=cuda
